.board_wrapper{
    list-style: none;

}
.board_table_container{
    display: flex;
    margin-left: 15%;
}

.board_table{
display: flex;
width: 70vw;
box-shadow: 5px 5px 10px 0 #f9e2e2;
margin-bottom: 5%;
padding:1%;
}

.board_table img{
    width: 150px;
    height: 150px;
}

.board_table_img{
    margin-right: 3%;
}

.board_table_inform{
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board_body{
    font-size: 150%;;
}

#heart_icon{
    margin-right: 1%;
}
#board_likeCount{
    display: flex;
}

.board_write_button{
    background-color: #e2c2dd;
    padding:0.4%;
    text-decoration: none;
    font-size: 170%;
    color: white;
    border-radius: 5%;
    width:6%;
    height: 70%;
    margin-left:90%;
}

#board_write{
    font-weight: bold;
}

#heart_icon{
    padding-left: 10px;
}


.board_table_footer {
    width: 100%;
    bottom:10%;
    background-color: #fff;
    padding: 10px; 
  }