.board-table-container{
    width:100%;
    margin: 0 auto;
    text-align:center
}

.board-table{
    padding-top:2%;
    font-size: 20px;
    width:80%;
    margin: 0 auto;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
}

.board-write-button{
    text-decoration: none;
    background-color: #e2c2dd;
    color:rgb(44, 44, 44);
    font-weight: bold;
    font-size: 23px;
    padding:8px;
    border-radius: 5px;
    margin-left : 43%;
    bottom : 50px;
    position: fixed;
}