.comment_input{
    width : 90%;
    height: 50px;
    border: none;
    margin-right: 1.5%;
    box-shadow: 3px 3px 5px 0 #d6d6d6;
}
.comment-submit-button{
    width: 7%;
    height: 60px; 
    border : none;
    font-weight: bold;
    border-radius: 5%;
    padding-left: 0;
    padding-right: 0;
}

.comment_list{
    padding: 0;
}

.comment_list li{
    padding: 0.5%;
    width : 100%;
    list-style: none;
    box-shadow: 3px 3px 5px 0 #d6d6d6;
    margin-right: 0;
}

.comment_writer_date,
.comment_text_button{
    display: flex;
    justify-content: space-between;
}

.comment_text_button button{
    border:none;
    width : 50%;
    height: 20%;
    background-color : white;
    font-size: 15px;
    font-weight: bold;
    padding-top: 30%;
}

.comment_writer{
    font-weight: bold;
    font-size: 20px;
}

.comment_body{
    font-size: 18px;
}

.editComment_textarea{
    border : none;
    width : 90%;
}