#detailPost_title{
    color:black;
    text-align: center;
    font-size: 50px;
}

.detailPost_header{
    margin-left: 20%;
}

.detailPost_img{
    width:5%;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1%;
    margin-right: 2%;
}

.detailPost_count{
    display: flex;
}

.detailPost_count p, .heart-icon{
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    
}

.heart-icon{
    padding-top: 70%;
}

.detailPost_count_heart{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.detailPost_body_header,
.detailPost_body_body,
.detailPost_body_footer{
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.detailPost_edit_delete_button{
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 3%;
    justify-content: space-between;
}

.detailPost_edit_img_writer{
    align-items: center;
    display: flex;
}


.detailPost_edit_delete_button button{
    padding : 4%;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    margin-left: 3%;

}

.detailPost_body_body p{
    padding-top: 2%;
    font-size: 30px;
}

.detailPost_body_body img{
    display : flex;
    padding-top: 3%;
    width : 80%;
    height: 20%;
    margin:0 auto;
}

.detailPost_post_button{
    display: flex;
    width: 8%;
}

.styled_button{
    border: none;
    width:8%;
    height: 10%;
    margin-left:1%;
}

.board_table_button{
    display: flex;
    justify-content: center;
}

  
  .board_table_container {
    margin-bottom: 60px; 
  }