.mypage_wrapper{
    width:100%;
}

.mypage_container{
    width:50%;
    margin: 0 auto;
    border : solid 1px black;
    padding-right : 5%;
    margin-top: 2%;
}

.mypage_inform{
    display: flex;
    margin: 8% 0% 8% 15%;
    
}

#wish_roommate_field{
    border: solid 1px black;
    width : 100%;
    padding: 5%;
    font-size: 14px;
}

.profile_field{
    font-size: 20px;
    font-weight: bold;
    margin-top: 8%;
}

.mypage_roommateInfo_name{
    font-size: 20px;
    font-weight: bold;
}

.detailRoommate_field{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.mypage_roommateInfo_table{
    width: 100%;
    padding: 10%;
    margin-left: 10%;
}

.mypage_roommateInfo_table td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
  }

.detailRoommateInfo{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding : 2%;
    margin : 0% 0% 10% 35%;
    float: center;
    border-radius: 10px;
    color:black;
    background-color: #e2c2dd;
}

.mypage_name{
    margin-left: 50%;
}

.mypage_roommateInfo_table td{
    font-weight: bold;
}

.profile_image img{
    width : 180px;
    height: 130%;
}

.profile_image{
    margin-right: 15%;
}