.mypage_wrapper {
    margin: 0 auto;
  }
  
  .mypage_container {
    display: flex;
  }
  .mypage_img {
    text-align: center;
  }
  .mypage_img img {
    width: 60%;
    border: 1px solid black;
    border-radius: 50%;
  }
  
  .mypage_ul {
    list-style: none;
    width: 250%;
  }
  
  .mypage_li button {
    background-color: white;
    border: none;
    padding: 10px 0px 10px 20px;
  }
  
  .mypage_li {
    width: 130%;
    box-shadow: 5px 5px 10px 0 #f9e2e2;
    margin: 10px 0;
    border-radius: 10px;
  }
  
  .mypage_profile {
    width: 25%;
    background-color: rgb(247, 220, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mypage_button_title{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }

  .mypage_button_description{
    font-size: 15px;
  }

  .mypage_user_inform p{
    font-size: 130%;
  }