.sidebar_ul{
    list-style: none;
    padding: 2%;
	margin: 0px;
    overflow: auto;
	position: fixed;
    left:10px;
}

.sidebar_li{
    border-bottom: solid 1px black;
}

.sidebar_li_link{
    color: black;
    text-decoration: none;
}

.sidebar_li button{
    border : none;
    background-color: white;
    font-size : 16px;
}